.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding: 120px 20px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens img {
  object-fit: initial;
  width: initial;
  height: initial;
}

.vantagens h3,
.vantagens img {
  margin-bottom: 8px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 80px;
}

@media (max-width: 800px) {
  .vantagens {
    padding: 60px 20px;
  }

  .vantagens h2 {
    margin-bottom: 40px;
  }

  .vantagens ul {
    gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .vantagens ul {
    grid-template-columns: 1fr;
  }
}
